.head-section{background-image:url(../images/hand.png),linear-gradient(to right,rgba(129,77,200, 0.9),rgba(234,72,116,0.9)), url(http://via.placeholder.com/940x627);}
.about-section i
{
  background: -webkit-linear-gradient(#FF5627, #7550D5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.owl-theme .owl-nav [class*="owl-"]
{
  color: #7550D5
}
.testmonial-para:before
{
  background: -webkit-linear-gradient(#FF5627, #7550D5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.owl-theme .owl-nav [class*=owl-],.owl-theme .owl-nav [class*=owl-]:hover
{
  background-color: #7550D5
}
h2{
  border-bottom: 1px dotted #7550D5
}
h2:after
{
  color: #7550D5;
}
.btn-danger{
  background-color: #7550D5;
}
.btn-default
{
  color: #7550D5;
}
.navbar-default .navbar-nav li  a:hover{color: #7550D5}
.left-info div:hover,.right-info div:hover{background-image: linear-gradient(to right,rgba(129,77,200, 0.9),rgba(234,72,116,0.9));}
.main-nav-scrolled {background: linear-gradient(to right,rgba(129,77,200, 0.9),rgba(234,72,116,0.9));}
.video-section{background-image: linear-gradient(to right,rgba(129,77,200, 0.9),rgba(234,72,116,0.9)), url(http://via.placeholder.com/1280x853);}
.testmonial-section{background-image: linear-gradient(to right,rgba(129,77,200,0.9),rgba(234,72,116,0.8)),url(../images/text.png);}
.team-section{background-image:url(../images/dot1c1.png);}
.screenshots-section{ background-image:url(../images/dots5c1.png);}
.plans-section{background-image:url(../images/dots3c1.png);}
.screenshots-section .owl-theme .owl-nav [class*="owl-"], .owl-theme .owl-nav [class*="owl-"]:hover
{background-image: linear-gradient(to right,rgba(129,77,200, 0.9),rgba(234,72,116,0.9)) !important;}
.counter-section
{
  background-image: linear-gradient(to right,rgba(129,77,200, 1),rgba(234,72,116,0.9)),url(http://via.placeholder.com/940x614);
}
.contactus-section{background-image:url(../images/dots4c1.png);}
.overlay{background: linear-gradient(to bottom right,rgba(129,77,200, 0.9),rgba(234,72,116,0.9));}
.stnd .head-plan{background: linear-gradient(to right,rgba(129,77,200, 0.9),rgba(234,72,116,0.9));}
.plan:hover .head-plan,.plan:hover a
{background: linear-gradient(to right,rgba(129,77,200, 0.9),rgba(234,72,116,0.9));}
.download-section
{
  background-image: linear-gradient(to right,rgba(129,77,200, 0.9),rgba(234,72,116,0.9)),url(../images/text.png);
}
.contactus-section button
{
  background: linear-gradient(to right,rgba(129,77,200, 0.9),rgba(234,72,116,0.9));
}
footer
{
  background:linear-gradient(to right,rgba(129,77,200, 0.9),rgba(234,72,116,0.9));
}
.borderco
{
  border-color: #D4365F;
}
.testmonial-section h2:after
{
  background-color: #C065AD;
}
.download-section h2:after
{
background-color: #BD5CA7;
}
.plans-section .btn-default{border-color: #8F5ECC}
.spinner-wrapper {
  background:linear-gradient(to right,rgba(129,77,200,1),rgba(234,72,116,1));
}