/*-----Large Screen-----*/

@media only screen and (max-width : 1200px) {
.navbar-header {
                    float: none;
                }
                .navbar-left,.navbar-right {
                    float: none !important;
                }
                .navbar-toggle {
                    display: block;
                }
                .navbar-collapse {
                    border-top: 1px solid transparent;
                    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
                }
                .navbar-fixed-top {
                    top: 0;
                    border-width: 0 0 1px;
                }
                .navbar-collapse.collapse {
                    display: none!important;
                }
                .navbar-nav {
                    float: none!important;
                    margin-top: 7.5px;
                }
                .navbar-nav>li {
                    float: none;
                }
                .navbar-nav>li>a {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                .collapse.in{
                    display:block !important;
                }


}
.head-section{height: 100vh}

/*------Medium Screen (Tablet)----*/

@media only screen and (max-width : 992px) {
.navbar-right
{
  background: linear-gradient(to right,rgba(71,94,102, 0.9),rgba(80,106,115,0.9));
}
.head__image{
    display: none;
}
.head-info ul{
    margin-top: -100px;
}
.head__list{
    margin-left: 10px;
    font-size: 1.2em;
    color: #fff;
  }
.head-section
{
  background-image:url(../images/bg.svg),linear-gradient(to right,rgba(71,94,102, 0.9),rgba(80,106,115,0.9));;
}
.video-section h3{font-size:20px;}
.video-section p{font-size: 17px;}
.team-section .member{margin-bottom: 30px;}
}

/*------Small Tablet-------*/

@media only screen and (max-width:768px)
{
  .head-section .head-info{text-align: center}
  .head-section .head-info h1{font-size: 25px}
  .head-section .head-info p{font-size: 18px}
  .screenshots-section .owl-nav
{position: relative;top: 90px;}
  .testmonial-section .owl-nav
{position: relative;top: 20px;}
.gallery__slider::after
{position: absolute;top: 49%;}
.video-section h3{font-size:19px;}
.video-section p{font-size: 15px;}
}

/*-------Mobile Screen-----*/

@media only screen and (max-width : 480px) {
    .navbar-nav > li{display: block;}
  .head-section .btn-default{margin-bottom: 10px}
  .head-section a{margin-left: 20px}
.video-section h3{font-size:17px;}
.video-section p{font-size: 14px;}
.head-section__button{margin-top: 10px;}
.col-xs-6 {height: 250px;}
.plan-price small{
    font-size: 0.3em;
  }
  .plan-price span{
    font-size: 0.6em !important;
  }
  .btn-login{
    margin-top: 5px;
    margin-left: 0;
    padding-left: 8px;
    padding-right: 8px;
  }
  .container .navbar-header, .container-fluid .navbar-header, .container .navbar-collapse, .container-fluid .navbar-collapse{margin-bottom: 0;padding-bottom: 20px;}
  .navbar-nav{margin-top:0;}
  .head-section{padding-top: 100px;}
  .head-info__text{
    color: #fff;
    margin-left: 0;
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
  }
  .head-info__text .header{
    color: #fff;
    font-size: 0;
    font-weight: bold;
    
  }
  .head-info ul{
    list-style: none;
    margin-top: 30px;
    padding-left: 0;
  }
  .head-info ul li{
    line-height: 40px;
    vertical-align: middle;
    text-align: left;
  }
  .head-info ul li img{
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 10px;
  }
}